{
    "singleQuote": true,
    "semi": false,
    "printWidth": 100,
    "trailingComma": "all",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "experimentalTernaries": true,
    "endOfLine": "lf",
    "tabWidth": 4,
    "proseWrap": "preserve",
    "quoteProps": "as-needed"
}
